<?xml version="1.0" encoding="UTF-8"?>
 <config>
	<modules>
		<Customweb_UnzerCw>
			<version>1.11.0</version>
		</Customweb_UnzerCw>
	</modules>
	<global>
		<models>
			<unzercw>
				<class>Customweb_UnzerCw_Model</class>
				<resourceModel>unzercw_mysql4</resourceModel>
			</unzercw>
			<unzercw_mysql4>
				<class>Customweb_UnzerCw_Model_Mysql4</class>
				<entities>
					<aliasdata>
						<table>unzercw_alias_data</table>
					</aliasdata>
					<customercontext>
						<table>unzercw_customer_context</table>
					</customercontext>
					<transaction>
						<table>unzercw_transaction</table>
					</transaction>
					<storage>
						<table>unzercw_storage</table>
					</storage>
					<externalcheckoutcontext>
						<table>unzercw_external_checkout_context</table>
					</externalcheckoutcontext>
				</entities>
			</unzercw_mysql4>
			
			<checkout>
				<rewrite>
					<cart>Customweb_UnzerCw_Model_Checkout_Cart</cart>
				</rewrite>
			</checkout>
		</models>
		<blocks>
			<unzercw><class>Customweb_UnzerCw_Block</class></unzercw>
			
			<adminhtml>
				<rewrite>
					<sales_order_invoice_view>Customweb_UnzerCw_Block_Adminhtml_Sales_Order_Invoice_View</sales_order_invoice_view>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<UnzerCw>
				<class>Customweb_UnzerCw_Helper</class>
			</UnzerCw>
		</helpers>
		<resources>
			<unzercw_write>
				<connection>
					<use>core_write</use>
				</connection>
			</unzercw_write>
			<unzercw_read>
				<connection>
					<use>core_read</use>
				</connection>
			</unzercw_read>
			<unzercw_setup>
				 <setup>
				 	<module>Customweb_UnzerCw</module>
				 	<class>Customweb_UnzerCw_Model_Resource_Setup</class>
				 </setup>
			</unzercw_setup>
		</resources>
		<events>
			<adminhtml_sales_order_invoice_view_construct>
				<observers>
					<unzercw_invoice_view>
						<type>singleton</type>
						<class>Customweb_UnzerCw_Model_Observer</class>
						<method>invoiceView</method>
					</unzercw_invoice_view>
				</observers>
			</adminhtml_sales_order_invoice_view_construct>
			<checkout_cart_init>
				<observers>
					<unzercw_init_cart>
						<type>singleton</type>
						<class>Customweb_UnzerCw_Model_Observer</class>
						<method>initCart</method>
					</unzercw_init_cart>
				</observers>
			</checkout_cart_init>
			<sales_order_place_after>
				<observers>
					<unzercw_place_order>
						<type>singleton</type>
						<class>Customweb_UnzerCw_Model_Observer</class>
						<method>placeOrder</method>
					</unzercw_place_order>
				</observers>
			</sales_order_place_after>
			<sales_order_save_after>
				<observers>
					<unzercw_save_order>
						<type>singleton</type>
						<class>Customweb_UnzerCw_Model_Observer</class>
						<method>saveOrder</method>
					</unzercw_save_order>
				</observers>
			</sales_order_save_after>
			<sales_order_payment_capture>
				<observers>
					<unzercw_capture_payment>
						<type>singleton</type>
						<class>Customweb_UnzerCw_Model_Observer</class>
						<method>capturePayment</method>
					</unzercw_capture_payment>
				</observers>
			</sales_order_payment_capture>
			<order_cancel_after>
				<observers>
					<unzercw_cancel_order>
						<type>singleton</type>
						<class>Customweb_UnzerCw_Model_Observer</class>
						<method>cancelOrder</method>
					</unzercw_cancel_order>
				</observers>
			</order_cancel_after>
			<controller_action_postdispatch_adminhtml_sales_order_create_save>
				<observers>
					<unzercw_moto_after_save>
						<type>singleton</type>
						<class>Customweb_UnzerCw_Model_MotoObserver</class>
						<method>postOrderSave</method>
					</unzercw_moto_after_save>
				</observers>
			</controller_action_postdispatch_adminhtml_sales_order_create_save>
			<controller_action_predispatch_adminhtml_sales_order_create_save>
				<observers>
					<unzercw_moto_before_save>
						<type>singleton</type>
						<class>Customweb_UnzerCw_Model_MotoObserver</class>
						<method>beforeOrderSave</method>
					</unzercw_moto_before_save>
				</observers>
			</controller_action_predispatch_adminhtml_sales_order_create_save>
			<load_customer_quote_before>
				<observers>
					<unzercw_load_customer_quote_before>
						<type>singleton</type>
						<class>Customweb_UnzerCw_Model_Observer</class>
						<method>loadCustomerQuoteBefore</method>
					</unzercw_load_customer_quote_before>
				</observers>
			</load_customer_quote_before>
			<customweb_externalcheckout_widgets_collect>
				<observers>
					<unzercw_externalcheckout_widgets_collect>
						<type>singleton</type>
						<class>Customweb_UnzerCw_Model_Observer</class>
						<method>collectExternalCheckoutWidgets</method>
					</unzercw_externalcheckout_widgets_collect>
				</observers>
			</customweb_externalcheckout_widgets_collect>
			
			<controller_front_init_before>
				<observers>
					<unzercw_register_translation_resolver>
						<type>singleton</type>
						<class>Customweb_UnzerCw_Model_Observer</class>
						<method>registerTranslationResolver</method>
					</unzercw_register_translation_resolver>
					<unzercw_register_logging_listener>
						<type>singleton</type>
						<class>Customweb_UnzerCw_Model_Observer</class>
						<method>registerLoggingListener</method>
					</unzercw_register_logging_listener>
				</observers>
			</controller_front_init_before>
			
			<customer_login>
				<observers>
					<unzercw_migrate_customer_transactions>
						<type>singleton</type>
						<class>Customweb_UnzerCw_Model_Observer</class>
						<method>migrateCustomerTransactions</method>
					</unzercw_migrate_customer_transactions>
				</observers>
			</customer_login>
		</events>
		<sales>
			<order>
				<statuses>
					<canceled_unzercw translate="label">
						<label><![CDATA[Canceled UnzerCw]]></label>
					</canceled_unzercw>
					<pending_unzercw translate="label">
						<label><![CDATA[Pending UnzerCw]]></label>
					</pending_unzercw>
				</statuses>
				<states>
					<canceled>
						<statuses>
							<canceled_unzercw />
						</statuses>
					</canceled>
					<pending_payment>
						<statuses>
							<pending_unzercw />
						</statuses>
					</pending_payment>
				</states>
			</order>
		</sales>
	</global>

	<adminhtml>
		<layout>
			<updates>
				<unzercw>
					<file>unzercw.xml</file>
				</unzercw>
			</updates>
		</layout>
		<translate>
			<modules>
				<Customweb_UnzerCw>
					<files>
						<default>Customweb_UnzerCw.csv</default>
					</files>
				</Customweb_UnzerCw>
			</modules>
		</translate>
	</adminhtml>
	
	<crontab>
		<jobs>
			<unzercw_cron>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
				<run>
					<model>unzercw/CronObserver::executeCron</model>
				</run>
			</unzercw_cron>
		</jobs>
	</crontab>

	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Customweb_UnzerCw after="Mage_Adminhtml">Customweb_UnzerCw</Customweb_UnzerCw>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

	<frontend>
		<secure_url>
			<unzercw>/UnzerCw/</unzercw>
		</secure_url>
		<blocks>
			<UnzerCw>
				<class>Customweb_UnzerCw_Block</class>
			</UnzerCw>
		</blocks>
		<layout>
			<updates>
				<unzercw>
					<file>unzercw.xml</file>
				</unzercw>
			</updates>
		</layout>
		<routers>
			<UnzerCw>
				<use>standard</use>
				<args>
					<module>Customweb_UnzerCw</module>
					<frontName>UnzerCw</frontName>
				</args>
			</UnzerCw>
		</routers>
		
		<translate>
			<modules>
				<Customweb_UnzerCw>
					<files>
						<default>Customweb_UnzerCw.csv</default>
					</files>
				</Customweb_UnzerCw>
			</modules>
		</translate>
	</frontend>
	<default>
		<unzercw>
			<general>
				<version>1.0.62</version>
				<operating_mode><![CDATA[test]]></operating_mode>
				<public_key_live><![CDATA[]]></public_key_live>
				<private_key_live><![CDATA[]]></private_key_live>
				<public_key_test><![CDATA[]]></public_key_test>
				<private_key_test><![CDATA[]]></private_key_test>
				<order_id_schema><![CDATA[{id}]]></order_id_schema>
				<payment_reference_schema><![CDATA[{id}]]></payment_reference_schema>
				<invoice_id_schema><![CDATA[{id}]]></invoice_id_schema>
				<cancel_pending_orders>7200</cancel_pending_orders>
				<debug_log>1</debug_log>
				<logging_level>error</logging_level>
			</general>
		</unzercw>
		<payment>
			<unzercw_creditcard>
				<model>unzercw/Method_CreditCard</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Credit / Debit Card]]></title>
				<description><![CDATA[Pay with Credit / Debit Card]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<placeholder_size><![CDATA[narrow]]></placeholder_size>
				<send_basket><![CDATA[no]]></send_basket>
				<capturing><![CDATA[direct]]></capturing>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_creditcard><unzercw_directdebitssepa>
				<model>unzercw/Method_DirectDebitsSepa</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Sepa Direct Debits]]></title>
				<description><![CDATA[Pay with Sepa Direct Debits]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<placeholder_size><![CDATA[narrow]]></placeholder_size>
				<send_basket><![CDATA[no]]></send_basket>
				<send_customer><![CDATA[no]]></send_customer>
				<merchant_name><![CDATA[]]></merchant_name>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_directdebitssepa><unzercw_securesepa>
				<model>unzercw/Method_SecureSepa</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Secure SEPA]]></title>
				<description><![CDATA[Pay with Secure SEPA]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<merchant_name><![CDATA[]]></merchant_name>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<placeholder_size><![CDATA[narrow]]></placeholder_size>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_securesepa><unzercw_openinvoice>
				<model>unzercw/Method_OpenInvoice</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Invoice]]></title>
				<description><![CDATA[Pay with Invoice]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<send_customer><![CDATA[no]]></send_customer>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<send_basket><![CDATA[no]]></send_basket>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_openinvoice><unzercw_secureinvoice>
				<model>unzercw/Method_SecureInvoice</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Secure Invoice]]></title>
				<description><![CDATA[Pay with Secure Invoice]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_secureinvoice><unzercw_paypal>
				<model>unzercw/Method_PayPal</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[PayPal]]></title>
				<description><![CDATA[Pay with PayPal]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<send_basket><![CDATA[no]]></send_basket>
				<send_customer><![CDATA[no]]></send_customer>
				<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_paypal><unzercw_sofortueberweisung>
				<model>unzercw/Method_Sofortueberweisung</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[SOFORT]]></title>
				<description><![CDATA[Pay with SOFORT]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<send_basket><![CDATA[no]]></send_basket>
				<send_customer><![CDATA[no]]></send_customer>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_sofortueberweisung><unzercw_giropay>
				<model>unzercw/Method_Giropay</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[giropay]]></title>
				<description><![CDATA[Pay with giropay]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<send_basket><![CDATA[no]]></send_basket>
				<send_customer><![CDATA[no]]></send_customer>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_giropay><unzercw_przelewy24>
				<model>unzercw/Method_Przelewy24</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Przelewy24]]></title>
				<description><![CDATA[Pay with Przelewy24]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<send_basket><![CDATA[no]]></send_basket>
				<send_customer><![CDATA[no]]></send_customer>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_przelewy24><unzercw_ideal>
				<model>unzercw/Method_IDeal</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[iDEAL]]></title>
				<description><![CDATA[Pay with iDEAL]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<placeholder_size><![CDATA[narrow]]></placeholder_size>
				<send_basket><![CDATA[no]]></send_basket>
				<send_customer><![CDATA[no]]></send_customer>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_ideal><unzercw_prepayment>
				<model>unzercw/Method_Prepayment</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Prepayment]]></title>
				<description><![CDATA[Pay with Prepayment]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<send_basket><![CDATA[no]]></send_basket>
				<send_customer><![CDATA[no]]></send_customer>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_prepayment><unzercw_eps>
				<model>unzercw/Method_Eps</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[EPS]]></title>
				<description><![CDATA[Pay with EPS]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<send_basket><![CDATA[no]]></send_basket>
				<send_customer><![CDATA[no]]></send_customer>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_eps><unzercw_unzerbanktransfer>
				<model>unzercw/Method_UnzerBankTransfer</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Unzer Bank Transfer]]></title>
				<description><![CDATA[Pay with Unzer Bank Transfer]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<send_basket><![CDATA[no]]></send_basket>
				<send_customer><![CDATA[no]]></send_customer>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_unzerbanktransfer><unzercw_unzerinstallment>
				<model>unzercw/Method_UnzerInstallment</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Unzer Instalment]]></title>
				<description><![CDATA[Pay with Unzer Instalment]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<effective_interest_rate><![CDATA[5.99]]></effective_interest_rate>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_unzerinstallment><unzercw_alipay>
				<model>unzercw/Method_Alipay</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Alipay]]></title>
				<description><![CDATA[Pay with Alipay]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<send_basket><![CDATA[no]]></send_basket>
				<send_customer><![CDATA[no]]></send_customer>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_alipay><unzercw_wechatpay>
				<model>unzercw/Method_WeChatPay</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[WeChat Pay]]></title>
				<description><![CDATA[Pay with WeChat Pay]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<send_basket><![CDATA[no]]></send_basket>
				<send_customer><![CDATA[no]]></send_customer>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_wechatpay><unzercw_bcmc>
				<model>unzercw/Method_Bcmc</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Bancontact]]></title>
				<description><![CDATA[Pay with Bancontact]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<placeholder_size><![CDATA[narrow]]></placeholder_size>
				<send_basket><![CDATA[no]]></send_basket>
				<send_customer><![CDATA[no]]></send_customer>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
			</unzercw_bcmc>
		</payment>
	</default>
</config>
